/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@600;700&display=swap");
/*------------------------------------*\
  #TOOLS 
\*------------------------------------*/
/*------------------------------------*\
  #GENERICS
\*------------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd,
article {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/
html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 16px "Hind", sans-serif;
}

@media (max-width: 599px) {
  h1, h2, h3, h4, h5, h6 {
    font: 600 2.4rem "Montserrat", sans-serif;
    font-size: 1.7rem !important;
    text-transform: uppercase;
  }
}
@media (min-width: 600px) {
  h1, h2, h3, h4, h5, h6 {
    font: 600 2.4rem "Montserrat", sans-serif;
    text-transform: uppercase;
  }
}
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/
.o-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.o-section__background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float: left;
}
.o-section__overlay {
  z-index: -2;
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.65;
}
.o-section__texture {
  z-index: -3;
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.o-section__text {
  font-size: 14rem;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 9rem;
  color: white;
  z-index: -3;
  opacity: 0.3;
  font-family: arial;
  font-weight: 900;
}

.o-padding-wrapper {
  width: 100%;
  transition: 1s;
}

@media (max-width: 599px) {
  .o-section__background {
    overflow: hidden;
  }
  .o-section__texture {
    filter: blur(3px);
    transform: scale(1.1);
  }
  .o-section__text {
    font-size: 23vw;
    line-height: 16vw;
  }

  .o-padding-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }
}
@media (min-width: 600px) {
  .o-padding-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
  }
}
@media (min-width: 900px) {
  .o-padding-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6rem;
  }
}
@media (min-width: 1200px) {
  .o-padding-wrapper {
    min-width: 900px;
    max-width: 1400px;
    padding: 0 8rem;
  }
}
/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
.c-header {
  padding-top: 80px;
  position: relative;
}
.c-header__texture--home {
  background-image: url("../img/home/header--home.jpg");
  background-size: auto;
  filter: none;
}
.c-header__texture--aanbod {
  background-image: url("../img/aanbod/header--aanbod.jpg");
}
.c-header__texture--about {
  background-image: url("../img/about/header--about.jpg");
}
.c-header__texture--email {
  background-image: url("../img/about/header--about.jpg");
}
.c-header__texture--contact {
  background-image: url("../img/home/contact.png");
}
.c-header--short {
  min-height: 400px;
  height: 50vh !important;
}
.c-header__info {
  display: none;
}
.c-header__info__section {
  border-top: 4px solid #FC4A1A;
  padding: 1rem;
  color: black;
  background-color: white;
}
.c-header__info__title {
  margin-bottom: 1rem;
}
.c-header__info__list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.c-header__info__list__item a {
  color: black;
}
.c-header__info__list__item a:hover {
  text-decoration: underline;
}
.c-header__floater {
  background-color: rgba(255, 255, 255, 0.65);
  transition: 1s;
  display: flex;
}
.c-header__floater__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.c-header__icon {
  position: relative;
  color: #FC4A1A;
  border: 2px solid #FC4A1A;
  padding: 0.25rem 0.5rem;
}
.c-header__number {
  position: absolute;
  font-size: 0.75rem;
  bottom: 0;
  transform: translate(-5px, 2px);
}
.c-header__subtitle {
  width: 100%;
}
.c-header__subtitle__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.c-header__cta {
  padding: 0.25rem 1.5rem;
  border: 2px solid #FC4A1A;
  border-radius: 0.3rem;
  color: black;
}
.c-header__cta:hover {
  transition: 0.3s;
  background-color: #FC4A1A;
  color: white;
}

@media (max-width: 599px) {
  .c-header {
    padding-top: 90px;
  }
  .c-header__wrapper {
    flex-direction: column-reverse;
  }
  .c-header__info {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .c-header__info__section {
    width: 100%;
    max-width: none;
    margin-top: 30px;
    padding: 1rem 2rem;
  }
  .c-header__floater {
    width: 100%;
    padding: 0 2rem;
  }
  .c-header__floater__container {
    margin: 1rem 0;
    height: 100%;
    min-height: 417px;
  }
  .c-header__floater__title {
    font-size: 8vw !important;
    font-weight: 600;
    line-height: 1.6;
  }
}
@media only screen and (min-width: 600px) and (max-width: 730px) {
  .c-header__wrapper {
    flex-direction: column-reverse !important;
  }
  .c-header__info {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .c-header__info__section {
    width: 100%;
    max-width: none;
    margin-top: 30px;
    padding: 1rem 2rem;
  }
  .c-header__floater {
    width: 100% !important;
  }
}
@media (min-width: 600px) {
  .c-header {
    padding-top: 140px;
  }
  .c-header__wrapper {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    transition: 1s;
  }
  .c-header__info {
    flex-direction: column;
    font-size: 0.96rem;
    justify-content: space-between;
  }
  .c-header__floater {
    width: 400px;
    padding: 2rem;
  }
  .c-header__floater__title {
    line-height: 1.6;
  }
}
@media only screen and (min-width: 780px) {
  .c-header__info {
    flex-grow: 1;
    align-items: flex-end;
    margin-right: 60px;
  }
  .c-header__info__section {
    min-width: 220px;
  }
}
@media (min-width: 1200px) {
  .c-header {
    min-height: 100vh;
  }
  .c-header--short {
    min-height: 400px;
    height: 60vh !important;
    max-height: 75vh !important;
  }
}
.c-nav {
  z-index: 3;
  position: absolute;
  height: 80px;
  width: 100%;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.65);
}
.c-nav__cta {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: white !important;
  display: flex;
  background-color: #FC4A1A;
}
.c-nav__cta:hover {
  background-color: #e33203;
  transition: 0.3s;
}
.c-nav__wrapper {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.c-nav__logo {
  height: 2.4rem;
  flex-grow: 1;
  background-image: url(../img/logo--white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
.c-nav__link {
  transition: 0.3s;
}
.c-nav__link:hover {
  color: #FC4A1A;
}
.c-nav__link--logo {
  width: 154px;
  height: 100%;
  display: inline-block;
}
.c-nav__link--active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media (max-width: 599px) {
  .c-nav {
    height: 60px;
    position: fixed;
    background-color: #f3f3f3;
    box-shadow: 0px -20px 20px 20px rgba(0, 0, 0, 0.6);
  }
  .c-nav__logo {
    background-image: url(../img/logo--black.png);
    background-position-x: right;
    display: flex;
    justify-content: flex-end;
  }
  .c-nav__list {
    display: none;
  }
  .c-nav__sticky {
    display: none;
  }
}
@media (min-width: 600px) {
  .c-nav__list {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .c-nav__link {
    color: white;
  }
  .c-nav__smaller {
    position: fixed;
  }
  .c-nav__sticky {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 60px;
    transition: 0.5s ease-in-out;
    background-color: white;
    color: black !important;
    box-shadow: 0px -20px 20px 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-60px);
  }
  .c-nav__sticky--visible {
    transform: translateY(0);
  }
  .c-nav__sticky__wrapper {
    align-items: center;
  }
  .c-nav__sticky__logo {
    background-image: url(../img/logo--black.png);
  }
  .c-nav__sticky__link {
    color: black;
  }
}
.dropbtn {
  color: white;
}

.dropbtn--dark {
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #FC4A1A;
}

@media (max-width: 599px) {
  .c-sidenav {
    transform: translateX(-75vw);
    height: 100%;
    width: 75vw;
    max-width: 300px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #272727;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .c-sidenav__link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  .c-sidenav__link:hover {
    color: #f1f1f1;
  }
  .c-sidenav--visible {
    transform: translateX(0);
  }

  .c-content-overlay {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s;
    pointer-events: none;
  }
  .c-content-overlay--visible {
    background-color: rgba(0, 0, 0, 0.75);
    pointer-events: all;
  }
}
@media (min-width: 600px) {
  .c-sidenav {
    display: none;
  }

  .c-content-overlay {
    display: none;
  }
}
@media (max-width: 599px) {
  .c-nav__hamburger {
    display: block;
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    transform-origin: left;
    transform: scale(0.6);
  }

  .c-nav__hamburger span {
    display: block;
    position: absolute;
    height: 8px;
    width: 90%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .c-nav__hamburger span:nth-child(1) {
    top: 0px;
  }

  .c-nav__hamburger span:nth-child(2), .c-nav__hamburger span:nth-child(3) {
    top: 18px;
    background: black;
  }

  .c-nav__hamburger span:nth-child(4) {
    top: 36px;
  }

  .c-nav__hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .c-nav__hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .c-nav__hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .c-nav__hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}
@media (min-width: 600px) {
  .c-nav__hamburger {
    display: none;
  }
}
.c-description__floater {
  background-image: url(../img/home/description.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  transition: 1s;
}
.c-description__inner-floater {
  background-color: white;
  height: 100%;
  display: flex;
  flex-grow: 1;
  margin: 2rem;
}
.c-description__inner-floater--text {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/home/description.png);
  background-position: center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: 1s;
}
.c-description__info__title--color {
  color: #FC4A1A;
}
.c-description__info__subtitle {
  color: #707070;
}
.c-description__info__line {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}
.c-description__info__list {
  margin: 1rem 0 !important;
  list-style: outside !important;
}
.c-description__linkgroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.c-description__link {
  color: #FC4A1A;
  border: 1px solid #FC4A1A;
  border-radius: 5px;
  padding: 5px 10px;
}
.c-description__link--middle {
  margin: 0 5px;
}
.c-description__link:hover {
  background-color: #FC4A1A;
  color: white;
}

@media (max-width: 599px) {
  .c-description__left {
    width: 100%;
  }
  .c-description__floater {
    min-height: 417px;
  }
  .c-description__inner-floater {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .c-description__inner-floater--text {
    font-size: 29vw !important;
  }
  .c-description__right {
    width: 100%;
    margin-top: 60px;
  }
  .c-description__info__list {
    list-style: inside !important;
  }
  .c-description__linkgroup {
    flex-direction: column;
  }
  .c-description__link {
    width: 100%;
  }
  .c-description__link--middle {
    margin: 5px 0;
  }
}
@media (min-width: 600px) {
  .c-description__left {
    width: 100%;
  }
  .c-description__inner-floater {
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .c-description__inner-floater--text {
    flex-direction: row;
    font-size: 10vw;
  }
  .c-description__right {
    width: 100%;
    margin-top: 60px;
  }
}
@media (min-width: 900px) {
  .c-description__left {
    width: 50%;
  }
  .c-description__floater {
    max-width: 300px;
    min-height: 417px;
  }
  .c-description__inner-floater {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .c-description__inner-floater--text {
    flex-direction: column;
    font-size: 6rem;
  }
  .c-description__right {
    width: 50%;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .c-description__floater {
    max-width: 400px;
    height: 556px;
  }
  .c-description__inner-floater--text {
    font-size: 8rem;
    line-height: 9rem;
  }
}
.c-approach {
  position: relative;
  flex-direction: column;
}
.c-approach__texture {
  background-image: url("../img/home/approach.png");
}
.c-approach__title {
  color: white;
}
.c-approach__card {
  min-width: 250px;
  max-width: 300px;
  background-color: white;
  padding: 2rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: 4px solid #FC4A1A;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}
.c-approach__card__icon {
  width: 8rem !important;
  height: 8rem !important;
  font-size: 6rem;
  color: #000;
}
.c-approach__card__text {
  margin: 1rem 0;
  max-width: 300px;
}

@media (max-width: 599px) {
  .c-approach__card {
    max-width: none;
    width: 100%;
    margin-top: 60px;
  }
}
@media (min-width: 600px) {
  .c-approach__card {
    max-width: none;
    width: 100%;
    margin-top: 60px;
    flex-direction: row;
    min-height: none !important;
  }
}
@media (min-width: 900px) {
  .c-approach__background {
    max-height: 300px;
  }
  .c-approach__wrapper {
    margin-top: 3rem;
  }
  .c-approach__title {
    transform: translateY(30px);
  }
  .c-approach__card {
    flex-direction: column;
    max-width: 300px;
    min-height: 417px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .c-approach__card {
    box-shadow: none;
    border: 1px solid lightgray;
  }
  .c-approach__card--middle {
    border-left: none;
    border-right: none;
  }
}
.c-reviews {
  overflow: hidden;
}
.c-reviews__wrapper {
  flex-direction: column;
}
.c-reviews__title, .c-reviews__info__line {
  width: 100%;
}
.c-reviews__content {
  margin-top: 30px;
}

.romw-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.romw {
  width: 46%;
  padding: 1rem;
  background-color: white;
  border-top: 4px solid #FC4A1A;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.6);
}

.romw-author-stars {
  color: #000;
}

@media (max-width: 599px) {
  .romw-list {
    flex-direction: column;
    justify-content: start;
  }

  .romw {
    width: 100%;
  }
}
.c-contact__texture {
  background-image: url(../img/home/contact.png);
}
.c-contact__floater {
  background-color: white;
  background-position: center;
  background-size: cover;
  transition: 1s;
}
.c-contact__floater {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.c-contact__line {
  margin: 1rem 0 1.6rem 0;
}
.c-contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.c-contact__form__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.c-contact__form__input {
  border: none;
  background-color: #eee;
  padding: 0.25rem;
  margin-bottom: 1rem;
}
.c-contact__form__input--medium {
  width: 60%;
}
.c-contact__form__input--short {
  width: 35%;
}
.c-contact__form__textarea {
  min-height: 150px;
}
.c-contact__form__submit {
  background-color: #FC4A1A;
  border: none;
  color: white;
  padding: 0.25rem;
}
.c-contact__form__submit:active {
  background-color: #000;
}
.c-contact__form select {
  background-color: #eee;
  box-shadow: none;
  inset: none;
  border: none;
}
.c-contact__form textarea {
  font-size: 1rem;
}
.c-contact__right__line {
  display: none;
}
.c-contact__right__info__section {
  text-align: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.c-contact__right__info__section__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: end;
  text-transform: none;
  font-weight: 400;
}
.c-contact__right__info__section__text:hover {
  color: #FC4A1A;
}
.c-contact__right__info__section__text i {
  font-size: 2rem;
}

@media (max-width: 599px) {
  .c-contact__left {
    width: 100%;
  }
  .c-contact__floater {
    min-height: 417px;
  }
  .c-contact__right {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .c-contact__right__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px;
  }
  .c-contact__right__social__icon {
    font-size: 2rem;
    color: white;
    transition: 0.3s;
  }
  .c-contact__right__social__icon:hover {
    color: #FC4A1A;
  }
  .c-contact__right__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
  }
  .c-contact__right__info__section__text {
    font-size: 1.2rem !important;
    line-height: 1;
    color: white;
  }
  .c-contact__right__info__section__icon {
    color: white;
    margin-left: 1rem;
    font-size: 2rem;
  }
  .c-contact__right__info__section__icon:hover {
    color: #FC4A1A;
  }
}
@media (min-width: 600px) {
  .c-contact__left {
    width: 100%;
  }
  .c-contact__floater {
    width: 400px;
    height: 556px;
  }
  .c-contact__right {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .c-contact__right__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 180px;
  }
  .c-contact__right__social__icon {
    font-size: 2rem;
    color: white;
    transition: 0.3s;
  }
  .c-contact__right__social__icon:hover {
    color: #FC4A1A;
  }
  .c-contact__right__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
  }
  .c-contact__right__info__section__text {
    font-size: 1.2rem !important;
    line-height: 1;
    color: white;
  }
  .c-contact__right__info__section__icon {
    color: white;
    margin-left: 1rem;
    font-size: 2rem;
  }
  .c-contact__right__info__section__icon:hover {
    color: #FC4A1A;
  }
}
@media (min-width: 900px) {
  .c-contact__left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .c-contact__right {
    width: 50%;
    height: 417px;
    margin-bottom: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  .c-contact__right__line {
    display: block;
  }
  .c-contact__right__social {
    display: flex;
    flex-direction: column;
    width: 100px;
    flex-grow: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .c-contact__right__info {
    margin-top: 45px;
    flex-grow: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .c-contact__right__info__section__text {
    color: white;
  }
  .c-contact__right__info__section__icon {
    color: white;
    margin-left: 1rem;
  }
}
@media (min-width: 1200px) {
  .c-contact__floater {
    width: 400px;
    height: 556px;
  }
  .c-contact__right {
    height: 556px;
    margin-bottom: 0;
  }
  .c-contact__right__social__icon {
    font-size: 3rem;
  }
  .c-contact__right__info__section__text {
    font-size: 1rem;
  }
  .c-contact__right__info__section__icon {
    font-size: 2rem;
  }
  .c-contact__form__input {
    font-size: 1.2rem;
    padding: 0.25rem;
  }
  .c-contact__form__submit {
    font-size: 1.2rem;
    padding: 0.25rem;
  }
}
.c-seo .o-padding-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.c-seo__subtitle {
  margin-top: 1em;
}

.c-address {
  background-color: #FC4A1A;
  padding: 1rem 4rem;
}

.c-footer {
  background-color: #272727;
  color: white;
}
.c-footer a {
  color: white;
}
.c-footer a:hover {
  color: #FC4A1A;
}
.c-footer h2 {
  margin-bottom: 1rem;
}
.c-footer__wrapper {
  flex-direction: column;
}
.c-footer__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}
.c-footer__tree__list {
  list-style: inside !important;
  list-style: disclosure-closed !important;
}
.c-footer__tree__list--indented {
  margin-left: 1rem !important;
}
.c-footer__extra__social {
  min-height: 300px;
  align-items: flex-end;
}
.c-footer__copyright {
  text-align: center;
  font-size: 0.8rem;
  color: gray;
  transform: translateY(30px);
}

@media (max-width: 599px) {
  .c-footer__info h3 {
    font-size: 1rem !important;
  }
  .c-footer__extra {
    display: none;
  }
}
@media (max-width: 480px) {
  .c-footer__tree {
    display: none;
  }
}
.c-about__cloud {
  color: white !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.c-about__cloud__link {
  color: white;
}
.c-about__cloud__link--alt {
  color: #FC4A1A;
}
.c-about__cloud__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
}
.c-about__section {
  padding-bottom: 0;
}
.c-about__section__content {
  position: relative;
}
.c-about__section__content__title {
  font-size: 6vw !important;
  font-weight: 600;
  z-index: -1;
}
.c-about__section__content__text {
  padding-bottom: 30px;
}
.c-about__section__content__paragraph {
  margin-bottom: 30px;
}
.c-about__section__content__list {
  list-style: inside !important;
}
.c-about__gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c-about__gallery:after {
  content: "";
  width: 31%;
}
.c-about__card {
  width: 31%;
  margin-bottom: 1.6rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}
.c-about__card__img {
  width: 100% !important;
}
.c-about__card__overlay {
  position: absolute;
  top: 0;
  width: min-content;
  text-align: left;
  background-color: #FC4A1A;
}
.c-about__card__cta {
  position: absolute;
  width: content;
  text-align: right;
  background-color: #212121;
  bottom: 0;
  right: 0;
}
.c-about__card__subtitle {
  color: white;
  padding: 0 0.5rem;
  background-position: center;
  background-size: cover;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.9);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.5rem;
}
.c-about__card__title {
  color: white;
  padding: 0 0.5rem;
  background-position: center;
  background-size: cover;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.9);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.5rem;
}
.c-about__card:hover {
  opacity: 0.85;
  transition: 0.2s all ease-in-out;
}
.c-about__card:hover .c-about__card__cta {
  background-color: #FC4A1A;
  transition: 0.2s all ease-in-out;
}

@media (max-width: 599px) {
  .c-about__section {
    padding-bottom: 0 !important;
  }
  .c-about__section__content__title {
    font-size: 10vw !important;
    top: -10vw;
  }
  .c-about__section__content__title--small {
    font-size: 9vw !important;
  }
  .c-about__section__content__list {
    flex-direction: column;
  }
  .c-about__cloud {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .c-about__gallery::after {
    content: "";
    width: 100%;
  }
  .c-about__card {
    width: 100%;
  }
  .c-about__card img {
    width: 100%;
  }
}
@media (min-width: 600px) {
  .c-about__cloud {
    text-align: center;
  }
  .c-about__gallery::after {
    content: "";
    width: 47%;
  }
  .c-about__card {
    width: 47%;
  }
}
@media (min-width: 900px) {
  .c-about__gallery::after {
    content: "";
    width: 31%;
  }
  .c-about__card {
    width: 31%;
  }
  .c-about__production {
    column-count: 3;
  }
  .c-about__production__img {
    margin-bottom: 1rem;
  }
  .c-about__production__img--heading {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
  }
  .c-about__production__img--inline1 {
    width: 50%;
    float: left;
    margin-right: 1rem;
  }
  .c-about__production__img--inline2 {
    max-height: 260px;
    float: left;
    margin-right: 1rem;
  }
}
.c-model__wrapper {
  text-align: center;
}
.c-model__title {
  margin: auto;
  color: white;
  font-size: 10vw !important;
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/
.u-line {
  height: 3px;
  width: 100px;
  background-color: #000;
}
.u-line--short {
  margin-left: 1rem;
  height: 3px;
  width: 30px;
  background-color: #FC4A1A;
}

.u-link {
  color: #FC4A1A;
  text-decoration: underline;
  transition: 0.3s;
}
.u-link:hover {
  color: #000;
}

.u-orange {
  color: #FC4A1A;
}

/*# sourceMappingURL=style.css.map */
