.c-contact{
    
    &__texture{
        background-image: url(../img/home/contact.png);
    }

    &__floater{
        background-color: white;
        background-position: center;
        background-size: cover;
        transition: 1s;
    }

    &__floater{
        padding: 2rem;

        display: flex;
        flex-direction: column;
    }

    &__line{
        margin: 1rem 0 1.6rem 0;
    }
    &__form{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        &__input{
            border: none;
            background-color: #eee;
            padding: 0.25rem;
        }

        &__submit{
            background-color: $color-primary;
            border: none;
            color: white;
            padding: 0.25rem;

            &:active{
                background-color: $color-secondary;
            }
        }

        select{
            background-color: #eee;
            box-shadow: none;
            inset: none;
            border: none;
            // border: 1px solid #eaeaea;
        }
        
        textarea{
            font-size: 1rem;
        }
    }


    &__right{
        &__line{
            display: none;
        }

        &__info{
            &__section{
                text-align: flex-end;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                // margin-bottom: 2rem;
                &__text{
                    text-transform: none;
                    font-weight: 400;
                }
            }
        }
    }
}

@include for-phone-only {
    .c-contact{

        &__left{
            width: 100%;
        }

        &__floater{
            min-height: floater-height($floater-width--mobile);
            
        }

        &__right{
            width: 100%;

            margin-bottom: 60px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__social{
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                min-height: 180px;
                
                
                &__icon{
                    font-size: 2rem;
                    color: white;
                    transition: 0.3s;

                    &:hover{
                        color: $color-secondary;
                    }
                }
            }

            &__info{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;

                text-align: right;

                &__section{

                    &__text{
                        font-size: 1.2rem !important;
                        line-height: 1;
                        color: white;
                        
                    }

                    &__icon{
                        color: white;
                        margin-left: 1rem;
                        font-size: 2rem;
                        &:hover{
                            color: $color-secondary;
                        }
                    }
                }
            }
        }
    }
}

@include for-tablet-portrait-up {
    .c-contact{

        &__left{
            width: 100%;
        }

        &__floater{
            min-height: floater-height($floater-width--mobile);
        }

        &__right{
            width: 100%;
            margin-bottom: 60px;

            display: flex;
            flex-direction: row;
            // align-items: flex-end;
            justify-content: space-between;

            &__social{
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                min-height: 180px;

                &__icon{
                    font-size: 2rem;
                    color: white;
                    transition: 0.3s;

                    &:hover{
                        color: $color-secondary;
                    }
                }
            }

            &__info{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                text-align: right;

                &__section{

                    &__text{
                        font-size: 1.2rem !important;
                        line-height: 1;
                        color: white;
                        
                    }

                    &__icon{
                        color: white;
                        margin-left: 1rem;
                        font-size: 2rem;
                        &:hover{
                            color: $color-secondary;
                        }
                    }
                }
            }
        }
    }
}

@include for-tablet-landscape-up{
    .c-contact{
        //LEFT SECTION
        &__left{
            width: 50%;
            display: flex;
            justify-content: flex-end;
        }

        &__floater{
            width: $floater-width--mobile;
            height: floater-height($floater-width--mobile);
        }

        //RIGHT SECTION
        &__right{
            width: 50%;
            height: floater-height($floater-width--mobile);

            margin-bottom: 0;
            text-align: right;

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;

            &__line{
                display: block;
            }

            &__social{
                display: flex;
                flex-direction: column;
                width: 100px;
                flex-grow: 0.6;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &__info{
                margin-top: 45px;
                width: min-content;
                flex-grow: 0.4;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // border-top: 2px solid $color-secondary;
                // padding-top: 2rem;

                &__section{

                    &__text{
                        color: white;
                    }

                    &__icon{
                        color: white;
                        // font-size: 2rem;
                        // margin-bottom: 2rem;
                        margin-left: 1rem; 
                    }
                }
            }
        }
    }
}

@include for-desktop-up{
    .c-contact{
        // min-height: 90vh;

        &__floater{
            width: $floater-width--desktop;
            height: floater-height($floater-width--desktop);
        }

        &__right{
            height: floater-height($floater-width--desktop);
            margin-bottom: 0;

            &__social{
                &__icon{
                    font-size: 3rem;
                }
            }

            &__info{
                &__section{
                    &__text{
                        font-size: 1rem;
                    }
                    &__icon{
                        font-size: 2rem;
                    }
                }
            }
        }
        &__form{
            &__input{
                font-size: 1.2rem;
                padding: 0.25rem;
            }
            &__submit{
                font-size: 1.2rem;
                padding: 0.25rem;
            }
        }
    }
}