.c-description{
    // LEFT
    &__floater{
        background-image: url(../img/home/description.png);
        background-position: center;
        background-size: cover;

        display: flex;
        flex-direction: column;

        transition: 1s;
    }

    &__inner-floater{
        background-color: white;
        height: 100%;
        display: flex;
        
        flex-grow: 1;
        margin: 2rem;

        // overflow-wrap: anywhere;
        // overflow: hidden;

        &--text{
            display: inline-block;
            // flex-direction: column;
            justify-content: space-between;
            align-items: center;

            // width: 100% !important;

            background-image: url(../img/home/description.png);
            background-position: center;
            background-size: cover;

            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            
            font-weight: $bold;
            text-align: center;
            text-transform: uppercase;

            transition: 1s;
        }
    }

    // RIGHT
    &__info{

        &__title{
            &--color{
                color: $color-secondary;
            }
        }

        &__subtitle{
            color: rgb(112, 112, 112);
            // margin-top: 1rem;
        }

        &__line{
            display: flex;
            flex-direction: row;
            margin: 1rem 0;
        }

        &__list{
            margin: 1rem 0 !important;
            list-style: outside !important;

            // &:before {
            //     content: "-";
            //     text-indent: -5px;
            // }
        }
	}
	
	&__linkgroup{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__link{
		color: $color-secondary;
		border: 1px solid $color-secondary;
		border-radius: 5px;
		padding: 5px 10px;
		// min-width: 140px;

		&--middle{
			margin: 0 5px;
		}

		&:hover{
			background-color: $color-secondary;
			color: white;
		}
	}
}

@include for-phone-only {
    .c-description{

        // LEFT 
        &__left{
            width: 100%;
        }

        &__floater{
            min-height: floater-height($floater-width--mobile);
        }

        &__inner-floater{
            flex-direction: column; //soze dependant
            justify-content: space-evenly;

            &--text{
                font-size: 29vw !important;
            }
        }

        // RIGHT
        &__right{
            width: 100%;
            margin-top: 60px;
        }

        &__info{
            &__list{
                list-style: inside !important;
            }
		}
		
		&__linkgroup{
			flex-direction: column;
		}

		&__link{
			width: 100%;

			&--middle{
				margin: 5px 0;
			}
		}
    }
}

@include for-tablet-portrait-up {
    .c-description{

        &__left{
            width: 100%;
        }

        // &__floater{
        //     // min-height: floater-height($floater-width--mobile);
        // }

        &__inner-floater{
            // flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding: 1rem;

            &--text{
                flex-direction: row;
                font-size: 10vw;
            }
        }

        &__right{
            width: 100%;
            margin-top: 60px;
        }
    }
}

@include for-tablet-landscape-up{
    .c-description{
        //LEFT SECTION
        &__left{
            width: 50%;
        }

        &__floater{
            max-width: $floater-width--mobile;
            min-height: floater-height($floater-width--mobile);
        }

        &__inner-floater{
            flex-direction: column; //soze dependant
            justify-content: space-evenly; //size dependant
            align-items: center; //size dependant


            &--text{
                flex-direction: column;
                font-size: 6rem;
            }
        }

        //RIGHT SECTION
        &__right{
            width: 50%;
            margin-top: 0;
        }
    }
}

@include for-desktop-up{
    .c-description{
        &__floater{
            max-width: $floater-width--desktop;
            height: floater-height($floater-width--desktop);
        }

        &__inner-floater{
            // justify-content: space-evenly; //size dependant
            
            &--text{
                font-size: 8rem;
                line-height: 9rem;
            }
        }
    }
}