.c-header{
    padding-top: 80px;
    position: relative;

    &__texture{
        background-image: url("../img/header.png"); //set the bg img
    }

    &__floater{
        background-color: white;
        transition: 1s;
        display: flex;

        &__container{
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
        }
    }

    

    &__icon{
        position: relative;
        color: $color-primary;
        border: 2px solid $color-primary;
        // display: flex;
        padding: 0.25rem 0.5rem;
    }

    &__number{
        position: absolute;
        font-size: 0.75rem;
        bottom: 0;
        transform: translate(-5px, 2px);
    }

    &__cta{
        padding: 0.25rem 1.5rem;
        border: 2px solid $color-primary;
        border-radius: 0.3rem;
        color: black;

        &:hover{
            transition: 0.3s;
            background-color: $color-primary;
            color: white;
        }
    }
}



@include for-phone-only {

    .c-header{
        padding-top: 120px; //mobile navbar is thinner, so this compensates for it and overrides the 80px on desktop
                            //60px navbar + 60px offset
        &__floater{
            width: 100%;
            
            padding: 1.3rem;

            align-items: center;
            justify-content: center;

            &__container{
                margin: 1rem 0;
                height: 100%;
                min-height: floater-height($floater-width--mobile);
                max-width: $floater-width--mobile;

                align-items: center;
                text-align: center;
            }

            &__title{
                font-size: 2vw;
                font-weight: 600;
                line-height: 1.6;
            }
        }
    }
}

@include for-tablet-portrait-up {
    .c-header{
        padding-top: 140px; //mobile navbar is thinner, so this compensates for it and overrides the 80px on desktop
                           //80px navbar + 60px offset

        &__wrapper{
            align-items: flex-end;
        }

        &__floater{
            width: $floater-width--desktop;
            height: floater-height($floater-width--desktop);
            padding: 3rem;

            // &__title{
            //     font-size: 2.4rem;
            //     font-weight: 600;
            //     line-height: 1.6;
            // }
        }
    }
}