.c-reviews{
    // justify-content: ;

    //temporary
    overflow: hidden;
    
    &__wrapper{
        flex-direction: column;
    }

    &__title, &__info__line{
        width: 100%;
    }

    &__content{
        margin-top: 30px;
    }
}
.romw-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.romw{
    width: 46%;

    padding: 1rem;
    background-color: white;
    border-top: 4px solid $color-secondary;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.6);
}

.romw-author-stars{
    color: $color-primary;
}

@include for-phone-only {
    .romw-list{
        flex-direction: column;
        justify-content: start; 
    }
    
    .romw{
        width: 100%;
    }
}