//OBJECTS
//only o- classes go here.
//read more on https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/

//Objects
//class-based selectors which define undecorated design patterns, for example media object known from OOCSS

.o-section{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__background{
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__overlay{
        z-index: -2;
        background-color: $color-primary;
        opacity: $opacity-overlay;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__texture{
        z-index: -3;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}